<mat-card>Ingresa tus datos
    <br>
    <mat-form-field>
            <input matInput placeholder="Nombre completo">
          </mat-form-field>
          <br>
    <mat-form-field>
            <input matInput placeholder="ID">
          </mat-form-field>
          <br>
    <mat-form-field>
            <input matInput placeholder="Contraseña">
          </mat-form-field>
          <br>
    <mat-form-field>
              <input matInput placeholder="Acceso al que pertenece">
            </mat-form-field>
            <br>
    <button mat-button  routerLink="/iniciov" color="primary">Registrarte</button>
</mat-card>
