<html>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <header>
    <p>ENTRADA</p>
  </header>
  
  <body>
      <br>
      <img class = "imgstl" src="/images/javier.jpg" alt="javier" style="width:150px;height:150px;">
      <br><br>

      <label for="usr">Javier Amador Lagunes</label><br>
      <label for="usr">23/Octubre/2018</label><br><br>


      <div class="container-fluid">
          <div class="row">
            <br>
            <div class="col-sm-3" style="background-color:#003B5C;">
                <img src="/images/bici2.JPG" alt="bici" style="width:50px;height:50px;"><br><br>
            </div>
            <div class="col-sm-1" style="background-color:#003B5C;">2
            
            </div>
            <div class="col-sm-5" style="background-color:#003B5C;">
              Color: Color
              Marca: Marca
            </div>
            <div class="col-sm-2" style="background-color:#003B5C;">
                <img src="/images/qr.JPG" alt="bici" style="width:30px;height:30px;">
            </div>
          </div>
      </div>

    <br><br>

    <button class = "button2" [routerLink]="['']">Ver Otros Dueños</button>

    <br><br>

    <button class = "button3" [routerLink]="['']">Confirmar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class = "button4" [routerLink]="['']">Regresar</button>

  </body>

</html>