header{
    text-align: center;
    font-size: 300%;
    color: white;
    background-color: #003B5C;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    text-align: center;
}

.imgstl{
    border-radius: 50%;
    background-color: #00B5E2;
    height: auto;
    border: 1px solid #00B5E2;
    padding: 3px;
    width: 150px;
}

.button2{
    color: #003B5C;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 120%;
    font-family: 'Source Sans Pro', sans-serif;
}

label{
    color: white;
    background-color: #003B5C;
    font-family: 'Source Sans Pro', sans-serif;
}

.row{
    color: white;
    background-color: #003B5C;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    width: 25%;
    height:0 auto;
    margin:0 auto;
}

.row2{
    text-align: left;
    width: 25%;
    height:0 auto;
    margin:0 auto;
}
