<mat-card>Bicicletas registradas
    <br>
    <mat-tab-group>
        <mat-tab label="Bici1"> marca,rodada,color, características </mat-tab>
        <mat-tab label="Bici2"> rodada </mat-tab>
        <mat-tab label="Bici3"> color </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-card> Agrega una nueva bicicleta
      <br>
        <mat-form-field>
              <input matInput placeholder="Marca">
              </mat-form-field>
              <br>
              <br>
        <mat-form-field>
                <input matInput placeholder="Rodada">
              </mat-form-field>
              <br>
        <br>
        <mat-form-field>
                <input matInput placeholder="Color">
              </mat-form-field>
              <br>
              <mat-form-field>
                  <input matInput placeholder="Características">
                </mat-form-field>
                <br>
        <button mat-button  color="primary">Agregar Bici</button>
    </mat-card>
    