header{
    text-align: center;
    font-size: 200%;
    color: white;
    background-color: #003B5C;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    text-align: center;
}

.cuadro1{
    background-color: #003B5C;
}

.cuadro2{
    background-color: #003B5C;
}

img{
    width:300px;
    height:300px;
   } 





