<div class="orden">
  <button  mat-raised-button color="primary" [routerLink]="['vista1']"  >Vista 1</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista2']">Vista 2</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista3']">Vista 3</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista4']">Vista 4</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista5']">Vista 5</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista6']">Vista 6</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista7']">Vista 7</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista8']">Vista 8</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista9']">Vista 9</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista10']">Vista 10</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista11']">Vista 11</button><br><br>

  <button mat-raised-button color="primary" [routerLink]="['vista12']">Vista 12</button><br><br>
</div>
