<mat-card>¡Bienvenido Alumno!
    <br>
    <form [formGroup]="form" (submit)="addUser()">
    <mat-form-field formControlName="matricula">
            <input matInput placeholder="Ingresa tu Matrícula">
    </mat-form-field>
          <br>
    <mat-form-field formControlName="contrasena">
            <input matInput placeholder="Ingresa tu Contraseña">
    </mat-form-field>
          <br>
    </form>
    <button mat-button routerLink="/registroal"color="primary">Registrarte</button>
    <button mat-button routerLink="/inicio-al"color="primary">Ingresar</button>
</mat-card>
