<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <h1 class="form-signin-heading">Perfil</h1>

      <h4>Nombre</h4>
      <p class="form-control-static">{{ details?.name }} {{ details?.secondName }}</p>

      <h4>Matrícula</h4>
      <p class="form-control-static">{{ details?.institutionalId }}</p>

      <h4>Correo electrónico</h4>
      <p class="form-control-static">{{ details?.email }}</p>

      <h4>Tipo de perfil</h4>
      <p class="form-control-static">{{ details?.userType }}</p>
    </div>
  </div>
</div>
