<div class="container">


      <h1>Bici CU</h1>

      <div class="boton-centrado-sesion">
          <h1><a routerLink="/login">Iniciar sesión</a></h1>
        </div>

        <div class="boton-centrado-registro">
          <h1><a routerLink="/register">Registrarse</a></h1>
        </div>
        <!--
      <div class="row" *ngIf="!auth.isLoggedIn()">
        <div class="col-md-6 text-right">
          <a routerLink="/login">Iniciar sesión</a>
        </div>

        <div class="col-md-6 text-right">
          <a routerLink="/register">Registrarse</a>
        </div>
      </div>
-->

</div>
