<mat-card>Ingresa tus datos
    <br>
    <mat-form-field>
            <input matInput placeholder="Nombre completo">
          </mat-form-field>
          <br>
    <mat-form-field>
            <input matInput placeholder="Matrícula">
          </mat-form-field>
          <br>
    <mat-form-field>
            <input matInput placeholder="Facultad">
          </mat-form-field>
          <br>
      <mat-form-field>
            <input matInput placeholder="Contraseña">
          </mat-form-field>
          <br>     
    <button mat-button routerLink="/inicio-al" color="primary">Registrarte</button>
</mat-card>
